

.main {
  min-height: 100vh;
}

/* nav bar containers */
.mobile_nav_bar {
   display:none;
}

.footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  height:40px
}

.crafted_txt {
  font-size:12px;
  color:#7a7a7a;
}

.footer_co_name {
    font-size: 14;
    color:#212120
}


@media (max-width:460px){
    .mobile_nav_bar {
      display:block;
    }
    .wide_nav_bar {
      display:none;
    }
}




